In [16]:
import pandas as pd 
import numpy as np
from xgboost import XGBRegressor

In [41]:
movies_train=pd.read_csv('train_file_prediction.csv',sep=';')
movies_test=pd.read_csv('test_file_prediction.csv',sep=';')

In [42]:
liste_colonnes_train=list(movies_train.columns)
liste_colonnes_train.remove('imdb_score')
len(liste_colonnes_train)

47

In [45]:
liste_colonnes_test=list(movies_test.columns)
liste_colonnes_test.remove('imdb_score')
liste_colonnes_test.remove('id')
len(liste_colonnes_test)

44

In [46]:
diff = [item for item in liste_colonnes_train if item not in liste_colonnes_test]
diff

['Film-Noir', 'Game-Show', 'Reality-TV']

In [47]:
liste_colonnes_test=list(movies_test.columns)
liste_colonnes_test.remove('imdb_score')
len(liste_colonnes_test)

45

In [48]:
diff = [item for item in liste_colonnes_train if item not in liste_colonnes_test]
diff

['Film-Noir', 'Game-Show', 'Reality-TV']

In [49]:
X=movies_train[liste_colonnes]
y=movies_train['imdb_score']

In [50]:
X_train=movies_train[liste_colonnes]
X_test=movies_test[liste_colonnes]
y_train= movies_train['imdb_score']
y_test=movies_test['imdb_score']

In [60]:
xgb = XGBRegressor()
xgb.fit(X_train, y_train)
y_pred = xgb.predict(X_test)

In [61]:
y_pred

array([4.426828 , 7.625481 , 7.072182 , 5.704662 , 7.171802 , 6.947595 ,
       4.967194 , 5.64458  , 6.3787074, 6.833913 , 6.7687874, 6.451024 ,
       6.863817 , 6.501575 , 6.8416886, 6.9923453, 6.990165 , 6.636428 ,
       6.404468 , 7.64838  , 5.426035 , 5.1664534, 6.2461824, 5.0025554,
       6.613815 , 7.7921667, 6.2981095, 6.263825 , 7.246347 , 7.5607066,
       7.2934475, 5.0377316, 5.9770455, 6.651152 , 7.6606293, 6.049372 ,
       6.612685 , 6.7169666, 6.42616  , 7.0521665, 5.527423 , 6.4260154,
       7.4102645, 5.5176277, 7.683926 , 6.189584 , 7.108842 , 7.097906 ,
       6.509985 , 5.5009527, 7.441048 , 6.0617843, 5.4061756, 7.7709827,
       7.183181 , 6.214688 , 6.422861 , 6.297782 , 6.6101284, 5.508197 ,
       6.279479 , 5.6708097, 6.037513 , 4.7602267, 6.5717964, 4.14396  ,
       6.993572 , 7.354227 , 5.545072 , 6.977722 , 5.7736187, 7.452562 ,
       4.4949236, 6.816708 , 6.9624124, 6.4697556, 6.414413 , 4.8153024,
       5.0004463, 6.2580514, 7.2179327, 6.8103194, 6.8659554, 7.05451  ,
       7.1871614, 7.077889 , 4.0240126, 6.0138726, 5.3828063, 6.978396 ,
       6.477333 , 6.9960036, 7.6328115, 7.2595625, 6.5667043, 7.2599773,
       5.9246597, 6.149207 , 4.8411145, 6.475882 , 7.7261996, 7.731881 ,
       8.218383 , 7.8906355, 6.7448635, 5.5721436, 6.786941 , 7.6970444,
       6.618799 , 7.995948 , 6.221304 , 4.7688456, 6.974618 , 6.180964 ,
       7.3471384, 7.5698357, 6.495315 , 7.6831155, 5.2405577, 5.9092326,
       6.5368986, 7.4408054, 5.3854504, 6.6502256, 7.014717 , 5.818122 ,
       6.0250645, 7.0762525, 6.1162825, 6.807593 , 6.821831 , 6.8865647,
       6.4628654, 6.606113 , 5.762576 , 5.8278832, 6.812883 , 7.1329303,
       7.0509205, 7.2657437, 5.889478 , 7.0198503, 7.7734456, 7.7456136,
       7.9083767, 7.809614 , 5.7094517, 7.3534155, 6.8848314, 7.8751903,
       5.461218 , 6.4936256, 6.328077 , 6.308878 , 6.50594  , 5.907898 ,
       7.358601 , 6.363985 , 7.5226445, 6.260219 , 6.2428803, 6.952066 ,
       6.255005 , 5.3292966, 6.08858  , 6.8087764, 6.1399775, 6.647537 ,
       7.263383 , 4.9620724, 5.9741144, 4.9618115, 7.674815 , 5.6375127,
       6.534446 , 7.7551837, 6.844506 , 7.327656 , 4.5089774, 6.0074787,
       6.620604 , 7.2198706, 6.748965 , 6.091969 , 5.2287645, 7.228334 ,
       7.570372 , 6.866791 , 7.7587237, 7.71471  , 4.288226 , 7.6830873,
       7.269511 , 6.3664336, 6.3295283, 6.0847716, 5.8393903, 7.384295 ,
       5.703537 , 6.4105377, 4.3896127, 6.8050804, 6.829878 , 6.8696594,
       5.6399727, 4.399271 , 6.274201 , 6.818828 , 5.7864404, 7.981184 ,
       5.110266 , 6.5230513, 4.9338512, 6.3955107, 5.813975 , 5.78764  ,
       6.883043 , 6.0074196, 4.8617744, 7.1354218, 6.8511324, 5.1604652,
       6.071261 , 7.8619123, 6.9567275, 7.2187037, 6.773318 , 5.9834924,
       7.090041 , 6.536022 , 7.6285486, 6.552672 , 6.136677 , 6.862408 ,
       8.225361 , 5.5691614, 5.8603973, 6.174377 , 7.028942 , 8.086746 ,
       6.2613363, 6.3825717, 7.0134892, 4.8456717, 6.274005 , 5.2417564,
       6.620679 , 5.723363 , 7.1385846, 7.225482 , 6.6833043, 7.3124247,
       5.35811  , 5.285709 , 7.646592 , 6.6059766, 7.0519156, 6.62932  ,
       7.4336247, 5.8696632, 6.3175488, 6.6055984, 6.3630776, 7.1816964,
       5.96635  , 5.665919 , 5.790226 , 6.456014 , 6.8235464, 5.093711 ,
       6.1934876, 6.6571193, 8.641378 , 6.934264 , 7.839994 , 7.579811 ,
       5.4696865, 5.240238 , 5.3780074, 7.115155 , 6.9632173, 6.4040575,
       6.402605 , 6.262335 , 6.228198 , 7.582048 , 5.980565 , 5.0567102,
       5.4646654, 5.8573914, 6.421547 , 6.8987722, 6.9634204, 6.7068424,
       6.1475368, 6.5531607, 7.266134 , 6.1066513, 7.127687 , 7.2740493,
       5.693944 , 7.1500363, 6.522202 , 5.3947124, 6.5521364, 6.0305243,
       6.1197886, 5.4340687, 5.1998105, 6.755081 , 6.4203305, 4.7698507,
       5.2204638, 4.740412 , 6.551145 , 7.0721283, 7.6658964, 7.4599314,
       6.8109612, 7.4919143, 5.482722 , 4.9479027, 6.145848 , 5.9972124,
       7.072806 , 7.4387064, 6.3591228, 7.0569243, 6.4144454, 4.5441523,
       6.47644  , 7.8177853, 7.612304 , 8.123248 , 8.200998 , 5.9849215,
       6.708556 , 7.433986 , 8.178188 , 9.039679 , 7.200846 , 6.042903 ,
       6.897083 , 6.1441526, 7.672075 , 7.6952415, 8.400856 , 5.066439 ,
       6.0539284, 7.1605983, 6.0525103, 6.8005266, 7.6230674, 5.000268 ,
       5.8094316, 7.812836 , 7.6353593, 6.1924634, 6.734085 , 5.644801 ,
       6.7703958, 6.7678547, 6.688446 , 5.597699 , 4.9399185, 5.564086 ,
       6.847487 , 7.6814785, 6.9697323, 6.093609 , 7.3493104, 6.0034847,
       6.7418585, 4.9511714, 6.7719297, 6.1602683, 8.141572 , 5.589821 ,
       6.5626507, 6.383628 , 6.5038977, 6.6215553, 5.727115 , 5.4461617,
       7.522786 , 6.0679464, 6.906183 , 4.9803276, 6.3080673, 7.088063 ,
       7.1970744, 7.240584 , 6.7152605, 5.417531 , 6.815164 , 6.191355 ,
       6.414296 , 6.2331967, 6.322081 , 5.6764436, 7.608713 , 6.541841 ,
       7.0668344, 7.535457 , 7.4006824, 4.487244 , 6.3864403, 6.2732706,
       6.945269 , 5.7490044, 5.2520514, 6.98669  , 7.484955 , 7.307025 ,
       6.716428 , 6.8979993, 8.893    ], dtype=float32)

In [62]:
len(y_pred)

417

In [63]:
y_pred=np.around(y_pred, decimals=1)
y_pred

array([4.4, 7.6, 7.1, 5.7, 7.2, 6.9, 5. , 5.6, 6.4, 6.8, 6.8, 6.5, 6.9,
       6.5, 6.8, 7. , 7. , 6.6, 6.4, 7.6, 5.4, 5.2, 6.2, 5. , 6.6, 7.8,
       6.3, 6.3, 7.2, 7.6, 7.3, 5. , 6. , 6.7, 7.7, 6. , 6.6, 6.7, 6.4,
       7.1, 5.5, 6.4, 7.4, 5.5, 7.7, 6.2, 7.1, 7.1, 6.5, 5.5, 7.4, 6.1,
       5.4, 7.8, 7.2, 6.2, 6.4, 6.3, 6.6, 5.5, 6.3, 5.7, 6. , 4.8, 6.6,
       4.1, 7. , 7.4, 5.5, 7. , 5.8, 7.5, 4.5, 6.8, 7. , 6.5, 6.4, 4.8,
       5. , 6.3, 7.2, 6.8, 6.9, 7.1, 7.2, 7.1, 4. , 6. , 5.4, 7. , 6.5,
       7. , 7.6, 7.3, 6.6, 7.3, 5.9, 6.1, 4.8, 6.5, 7.7, 7.7, 8.2, 7.9,
       6.7, 5.6, 6.8, 7.7, 6.6, 8. , 6.2, 4.8, 7. , 6.2, 7.3, 7.6, 6.5,
       7.7, 5.2, 5.9, 6.5, 7.4, 5.4, 6.7, 7. , 5.8, 6. , 7.1, 6.1, 6.8,
       6.8, 6.9, 6.5, 6.6, 5.8, 5.8, 6.8, 7.1, 7.1, 7.3, 5.9, 7. , 7.8,
       7.7, 7.9, 7.8, 5.7, 7.4, 6.9, 7.9, 5.5, 6.5, 6.3, 6.3, 6.5, 5.9,
       7.4, 6.4, 7.5, 6.3, 6.2, 7. , 6.3, 5.3, 6.1, 6.8, 6.1, 6.6, 7.3,
       5. , 6. , 5. , 7.7, 5.6, 6.5, 7.8, 6.8, 7.3, 4.5, 6. , 6.6, 7.2,
       6.7, 6.1, 5.2, 7.2, 7.6, 6.9, 7.8, 7.7, 4.3, 7.7, 7.3, 6.4, 6.3,
       6.1, 5.8, 7.4, 5.7, 6.4, 4.4, 6.8, 6.8, 6.9, 5.6, 4.4, 6.3, 6.8,
       5.8, 8. , 5.1, 6.5, 4.9, 6.4, 5.8, 5.8, 6.9, 6. , 4.9, 7.1, 6.9,
       5.2, 6.1, 7.9, 7. , 7.2, 6.8, 6. , 7.1, 6.5, 7.6, 6.6, 6.1, 6.9,
       8.2, 5.6, 5.9, 6.2, 7. , 8.1, 6.3, 6.4, 7. , 4.8, 6.3, 5.2, 6.6,
       5.7, 7.1, 7.2, 6.7, 7.3, 5.4, 5.3, 7.6, 6.6, 7.1, 6.6, 7.4, 5.9,
       6.3, 6.6, 6.4, 7.2, 6. , 5.7, 5.8, 6.5, 6.8, 5.1, 6.2, 6.7, 8.6,
       6.9, 7.8, 7.6, 5.5, 5.2, 5.4, 7.1, 7. , 6.4, 6.4, 6.3, 6.2, 7.6,
       6. , 5.1, 5.5, 5.9, 6.4, 6.9, 7. , 6.7, 6.1, 6.6, 7.3, 6.1, 7.1,
       7.3, 5.7, 7.2, 6.5, 5.4, 6.6, 6. , 6.1, 5.4, 5.2, 6.8, 6.4, 4.8,
       5.2, 4.7, 6.6, 7.1, 7.7, 7.5, 6.8, 7.5, 5.5, 4.9, 6.1, 6. , 7.1,
       7.4, 6.4, 7.1, 6.4, 4.5, 6.5, 7.8, 7.6, 8.1, 8.2, 6. , 6.7, 7.4,
       8.2, 9. , 7.2, 6. , 6.9, 6.1, 7.7, 7.7, 8.4, 5.1, 6.1, 7.2, 6.1,
       6.8, 7.6, 5. , 5.8, 7.8, 7.6, 6.2, 6.7, 5.6, 6.8, 6.8, 6.7, 5.6,
       4.9, 5.6, 6.8, 7.7, 7. , 6.1, 7.3, 6. , 6.7, 5. , 6.8, 6.2, 8.1,
       5.6, 6.6, 6.4, 6.5, 6.6, 5.7, 5.4, 7.5, 6.1, 6.9, 5. , 6.3, 7.1,
       7.2, 7.2, 6.7, 5.4, 6.8, 6.2, 6.4, 6.2, 6.3, 5.7, 7.6, 6.5, 7.1,
       7.5, 7.4, 4.5, 6.4, 6.3, 6.9, 5.7, 5.3, 7. , 7.5, 7.3, 6.7, 6.9,
       8.9], dtype=float32)

In [64]:
movies_test['y_pred_score'] = y_pred

In [65]:
movies_test['y_pred_score']

0      4.4
1      7.6
2      7.1
3      5.7
4      7.2
      ...
412    7.5
413    7.3
414    6.7
415    6.9
416    8.9
Name: y_pred_score, Length: 417, dtype: float32

In [67]:
sub=movies_test[['id','y_pred_score']]

In [69]:
sub.columns = ['id', 'imdb_score']

In [70]:
sub

       id  imdb_score
0    2661         4.4
1    3005         7.6
2    1293         7.1
3    3061         5.7
4    2312         7.2
..    ...         ...
412  3567         7.5
413  1056         7.3
414   141         6.7
415  2993         6.9
416   509         8.9

[417 rows x 2 columns]

In [72]:
sub.to_csv(r'sub_file.csv',sep=',',index=None)